.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.container img {
    object-fit: cover;
    max-width: none;
    width: 100%;
}

.imgWrapper {
    width: calc(100% + (2*var(--sidePadding)));
}

.container h1 {
    font-size: 2rem;
}

.container h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--secondary-color-1);
}

.container p {
    color: var(--secondary-color-2);
}

.numbers {

    border-top: 1px solid #bfcbd5;
    border-bottom: 1px solid #bfcbd5;
    min-width: 100%;
    padding: 2rem 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.number h3 {
    color: var(--primary-color-1);
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: normal;
    font-family: DMserifDisplayRegular;
}

.number p {
    opacity: .7;
}

@media screen and (min-width: 768px) {

    .container p,
    .container h2 {
        text-align: left;
    }

    .container h1 {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .container h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .aboutInfo {
        display: grid;
        grid-template-columns: 35% 65%;
    }

    .aboutInfo h2 {
        justify-self: start;
    }

    .numbers {
        border: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .number {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1.5px solid #bfcbd5;
        border-bottom: 1.5px solid #bfcbd5;
    }
}

@media screen and (min-width: 1440px) {

    .container h1 {
        text-align: left;
        font-size: 3.5rem;
        line-height: 3.5rem;
        max-width: 70%;
    }


    .aboutInfo {
        max-width: 70%;
    }

    .imgWrapper img {
        position: relative;
        z-index: 2;
    }

    .imgWrapper {
        position: relative;
    }

    .imgWrapper::before {
        content: '';
        position: absolute;
        top: -25%;
        left: -500px;
        width: 780px;
        height: 780px;
        background-image: url(/_next/static/media/bg-pattern-circle.96abc064.svg);
        background-repeat: no-repeat;
        z-index: 1;
    }
}