.footer {

    padding: var(--topAndBotPadding) var(--sidePadding);

    background-color: var(--secondary-color-3);
    color: var(--primary-color-2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

}

.socialLinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    font-size: 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
}

.link {
    opacity: .7;
}

.link:hover {
    opacity: 1;
}

.links a,
.socialLinks a {
    color: var(--primary-color-2);
}

.socialLinks a:hover {
    color: var(--primary-color-1);
}

@media screen and (min-width: 768px) {

    .wrapper,
    .links {
        flex-direction: row;
    }


    .wrapper {
        align-items: center;
        justify-content: space-between;
    }

    .socialLinks {
        align-items: center;
    }

    .links {
        gap: 3.5rem;

    }

}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {}