.valueSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: 100svh;
    padding: var(--topAndBotPadding) var(--sidePadding);
    background-color: var(--background-color);
    overflow-x: hidden;
}


.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.advantage.simpleUX {
    flex-direction: column-reverse;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;

}

.easyToImplementImg {
    padding-top: 2rem;
}

.simpleUXImg {
    padding-top: 4rem;
}

.imgAdvantages {
    padding-left: 1rem;
    transform: scale(1.3);
}

.imgWrapper {}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.value h3 {
    font-size: 1.125rem;
    color: var(--secondary-color-1);
}

.valueSection h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    color: var(--secondary-color-1);
}

.valueSection img {
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.content.easyToImplement {
    position: relative;
    top: -1rem;
}

.content p,
.value p {
    color: var(--secondary-color-2);
}

@media screen and (min-width: 768px) {

    .valueSection {
        gap: 6rem;
    }

    .easyToImplementImg {
        padding-left: 3.5rem;
        transform: scale(1.2);
    }

    .simpleUXImg {
        padding-top: 0;
        padding-left: 2rem;
        transform: scale(.9);
    }

    .valueSection h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .content.easyToImplement {
        position: relative;
        top: -3rem;
    }

    .content.simpleUX {
        position: relative;
        top: -5rem;
    }

    .content p {
        max-width: 70%;
    }

    .values {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
    }


}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {

    .advantage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .content p,
    .content h2 {
        text-align: left;
    }

    .imgAdvantages {
        transform: unset;
    }

    .easyToImplementImg {
        padding-left: 0;
        transform: unset;
        padding-top: 0;
    }

    .simpleUXImg {
        padding-left: 0;
        transform: unset;
    }

    .content {
        align-items: unset;
    }

    .value p {
        max-width: 70%;
    }

}

@media screen and (min-width: 1800px) {}